h1{
    background: #CAC531;  
background: -webkit-linear-gradient(to right, #F3F9A7, #CAC531);  
background: linear-gradient(to right, #F3F9A7, #CAC531); 
width: 400px;
border-radius: 5px;
}

center{
    background-color: azure;
}

h2{
    background: #e1eec3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f05053, #e1eec3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f05053, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Anton', sans-serif;
font-weight: 500;
}
.gesture_emoji{
    margin-left: 10px;
    margin-right: 15px;
}
p{
    font-size: 20px;
}

#camera, #result{
    width: 350px;
    height: 300px;
    border-style: dashed;
}
